<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MantisConnectBinding" />
                <binding name="MantisConnectBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mantisbt.org/bugs/api/soap/mantisconnect.php"
                binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding"
                contract="Mantis.MantisConnectPortType" name="MantisConnectPort" />
            <endpoint address="http://www.mantisbt.org/bugs/api/soap/mantisconnect.php"
                binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding1"
                contract="ServiceReference1.MantisConnectPortType" name="MantisConnectPort1" />
        </client>
    </system.serviceModel>
</configuration>